<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/">Home</a>
    
    
      <div class="navbar mx-auto pe-5">
        <h4 class="text-light text-strong"><strong>Incoming</strong></h4>
      </div>
    
  </div>
</nav>