<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">AZCO</a>
      
      
        <div class="navbar mx-auto pe-5">
          <h4>Outgoing</h4>
        </div>
      
    </div>
  </nav>