<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">AZCO</a>
      
      
        <div class="navbar mx-auto pe-5">
          <h4 class="text-light text-strong"><strong>Outgoing</strong></h4>

        </div>
      
    </div>
  </nav>