<% layout("layouts/outgoingplate") %>

<header>
    <link rel="stylesheet" href="/stylesheets/buttons.css">
</header>

<div class="row">
    <div class="col text-center mt-5">
        <form action="/out/cabinets">
        <button class="btn btn-primary btn-lg selector">Cabinets</button>
        </form>
    </div>
    <div class="col mt-5 text-center">
        <form action="/out/units">
        <button class="btn btn-primary btn-lg selector">Units</button>
        </form>
    </div>
        
    </div>
