<% layout("layouts/boilerplate") %> 

<header>
    <link rel="stylesheet" href="/stylesheets/home.css">
</header>


    <h1 class="text-center">Welcome <strong>Administrator</strong></h1>
    <div class="text-center mt-5">

        <p>Use the <i>navigation bar</i> at the top to navigate through the application </p>
    </div>


<script src="/javascripts/stockUpdate.js"></script>