<% layout("layouts/boilerplate") %> 

<header>
    <link rel="stylesheet" href="/stylesheets/home.css">
</header>


    <h1 class="text-center">AZCO Inventory Manager and Tracker</h1>

<div class="row text-center mt-5 mb-5">

    <div class="col mt-5">
    <form action="/in">
        <button type="submit" class="btn btn-success btn-lg dave-button">In</button>
    </form>
    </div>

    <div class="col mt-5">
    <form action="/out">
        <button type="submit" class="btn btn-danger btn-lg dave-button">Out</button>
    </form>
    </div>
</div>

