<% layout("layouts/outgoingplate") %>


    <form action="/outgoing/cabinets?_method=PUT" method="POST" novalidate class="needs-validation">
    <div class="row mb-5">
        <div class="col-6">
            <div class="form-group mb-1">
                <label for="cabinetName"> <strong>For Which Cabinet?</strong> </label>
                <select class="form-control" name="cabinet[name]" id="cabinetName" required>
                    <option value="" disabled selected> Please Select</option>
                    <% for (let cabinet of cabinets) { %>
                        <option>
                            <%= cabinet.name %>
                        </option>
                        <% } %>
                </select>
            </div>
        </div>

        <div class="col-2 offset-2">
            <div class="form-group mb-1">
                <label for="langley"><strong>Quantity</strong></label>
                <input class="form-control" value="0" type="text" id="langley" name="cabinet[langley]" required>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col text-end">
            <button class="me-5 mt-5 btn btn-primary btn-lg">Submit</button>
        </div>
    </div>
    </form>

    <div>
        <a href="/outgoing">Back</a>
    </div>