<% layout("layouts/boilerplate") %> 

    <form action="/cabinets" method="POST" novalidate class="needs-validation">
        <div class="form-group mb-1">
            <label for="name">Name</label>
            <input  class="form-control" type="text" id="name" name="cabinet[name]" required>
            <label for="leeway">Leeway (days)</label>
            <input  class="form-control" type="text" id="leeway" name="cabinet[leeway]" required>
        </div>
        
        <button class="btn btn-success mt-3">Create Cabinet</button>
    </form>

    <a href="/cabinets">Return to Cabinets</a>

