<% layout("layouts/incomingplate") %>



    <form action="/in/cabinets?_method=PUT" method="POST" novalidate class="needs-validation">
    <div class="row mb-5">
        <div class="col-6">
            <div class="form-group mb-1">
                <label for="cabinetName"> <strong>For Which Cabinet?</strong> </label>
                <select class="form-control" name="cabinet[name]" id="cabinetName" required>
                    <option value="" disabled selected> Please Select</option>
                    <% for (let cabinet of cabinets) { %>
                        <option>
                            <%= cabinet.name %>
                        </option>
                        <% } %>
                </select>
            </div>
        </div>

        <div class="col-3 offset-2">
            <div class="form-group mb-1">
                <label for="langley"><strong>Quantity</strong></label>
                <input class="form-control" value="" type="text" id="langley" name="cabinet[langley]" required>
            </div>
        </div>
    </div>
    <!-- MODAL IS HERE-->
    <%- include('../partials/modal') %> 
    <!-- Modal Ends before this line-->
    </form>
    <div class="row mt-5">
        <div class="col back">
            <a href="/in">Back</a>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary me-5 mt-5 btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Submit
              </button>
        </div>
    </div>
