<% layout("layouts/incomingplate") %>

<header>
    <link rel="stylesheet" href="/stylesheets/buttons.css">
</header>

<div class="row">
<div class="col text-center">
    <form action="/in/cabinets">
    <button class="btn btn-primary btn-lg selector mt-5">Cabinets</button>
    </form>
</div>
<div class="col text-center">
    <form action="/in/units">
    <button class="btn btn-primary btn-lg selector mt-5">Units</button>
    </form>
</div>
    
</div>