<% layout("layouts/incomingplate") %>


    <form action="/in/units?_method=PUT" method="POST" novalidate class="needs-validation">
    <div class="row mb-5">
        <div class="col-6">
            <div class="form-group mb-1">
                <label for="unitName"> <strong>For Which Unit?</strong> </label>
                <select class="form-control" name="unit[name]" id="unitName" required>
                    <option value="" disabled selected> Please Select</option>
                    <% for (let unit of units) { %>
                        <option>
                            <%= unit.name %>
                        </option>
                        <% } %>
                </select>
            </div>
        </div>

        <div class="col-2 offset-3">
            <div class="form-group mb-1">
                <label for="langley"><strong>Quantity</strong></label>
                <input class="form-control" value="" type="text" id="langley" name="unit[langley]" required>
            </div>
        </div>
    </div>

    <%- include('../partials/modal') %> 

    </form>

    <div class="row mt-5">
        <div class="col back">
            <a href="/in">Back</a>
        </div>
        <div class="col text-end">
            <button type="button" class="btn btn-primary me-5 mt-5 btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Submit
              </button>
        </div>
    </div>