<% layout("layouts/boilerplate") %>

<h1>Forgot Password</h1>

<form action="/forgot" method="POST" class="needs-validation" novalidate>
    
    <div class="mb-1">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" required>
    </div>
    
    <button class="btn btn-primary mt-3">Send Password Reset</button>
</form>