<% layout("layouts/boilerplate") %>

<h1>Forgot Password</h1>

<form action="/forgot" method="POST" class="needs-validation" novalidate>
    
    <div class="mb-1">
        <label class="form-label" for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username" required>
    </div>
    
    <button class="btn btn-primary mt-3">Send Password Reset</button>
</form>